{:paths ["src"]
 :deps  {}
 :aliases
 {:run  {:main-opts ["-m" "app.core"]}

  :dev  {:extra-paths ["test"]}

  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts   ["-m" "cognitect.test-runner"]}

  :json {:extra-deps {cheshire/cheshire {:mvn/version "5.13.0"}}}}}
